body {
    background-color:#808080;
}

.boks {
    background-color: orange;
    margin: auto;
    display: grid;
    grid-gap: 100px;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 440px 260px;
    grid-column-gap: 180px;
    border: 2px solid red;
}​​​​​​



