.artikler  {
    float: left;
    margin: 20px;
    background: #fff;
    border: 2px solid lightgrey;
    width: 80%;
    min-width: 320px;
    padding: 10px;    
}

.artikler h2 {
    text-align: center;
    font-size: 32px;
}

.artikker a{
    text-decoration: none;
}

video {
    width: 80%;
    border: 4px double #ccc;
    left: 10%;
    position: relative;
}

@media only screen and (max-width: 600px) {
  video {
    width: 95%;
    left: 1%;
  }
}