body {
    font-family: arial;
    font-size: 1.25em;
    color: black;
    background: linear-gradient(-45deg, grey, black, grey);
    background-size: 150% 180%;
    animation: Gradient ease infinite;
}

@keyframes Gradient {
    from {
        background-position: 0% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

img { transition: all .2s ease-in-out; }
img:hover { transform: scale(1.2); }
