body {
    background-color: black;
    overflow: hidden;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 10s ease infinite;
    -z-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes img {
    from {}
    to {transform: scale(60) rotate(1440deg) translateY(-3px);}
  } 

  @keyframes tekst {
      from {opacity: 0 }
      to {transform: translateY(200px) rotate(360deg); opacity: 1}
  }

img {
    position: absolute;
    left: 50%;
    top: 400px;
    width: 2%; 
    animation: img 5s alternate infinite;
}

h1 {
    position: absolute;
    left: 55%;
    top: -100px;
    color: red; 
    animation-delay: 2s; /*Funker ikke???*/
    animation: tekst 5s alternate infinite;
}

@media only screen and (max-width: 768px) {
    img {
        width: 10px;
        top: 280px;
    }
}

