.artikler  {
    float: left;
    margin: 20px;
    background: #fff;
    border: 2px solid lightgrey;
    width: 80%;
    min-width: 250px;
    padding: 10px;    
}

.artikler h2 {
    text-align: center;
    font-size: 32px;
}

.artikker a{
    text-decoration: none;
}

.artikler img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

video {
    width: 80%;
    border: 4px double #ccc;
    left: 10%;
    position: relative;
}