body {
    background: grey;
    font-family: arial;
    font-size: 1.25em;
}

table {
    border-style: ridge;
    border-width: 5px;
    border-color: white;
    background-color: #d9d9d9;
}

th {
    border: 5px groove white;
}

td {
    border: 5px groove white;
}