* {
    font-family: sans-serif;
}

html {
    background-color: #eee;
}

legend {
    font-weight: bolder;
}

form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 100vh;
}