body {
    color: grey;
    background: url(https://cdn.wallpapersafari.com/74/99/M67dUT.jpg); /* gjør det til en .jpg fil istedet for link */
}

figcaption{
font-size: 1.25em;
color: white;   
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

