
body{
    background-color: #999999;
    font-family: verdana, sans-serif;

}
main{
    /*background-color: #999999;*/
    width: 80%;
    margin:auto;   
    padding: 2%;
}

.overskrift{
    font-size: 3em;  /* 3 ggr større enn fontstørrelse i element */
}
.tekstOppeVenstre{           /*dette er teksten oppe til venstre...*/
    overflow: auto;         /*
                                visible - Default. The overflow is not clipped. The content renders outside the element's box
                                hidden - The overflow is clipped, and the rest of the content will be invisible
                                scroll - The overflow is clipped, and a scrollbar is added to see the rest of the content
                                auto - Similar to scroll, but it adds scrollbars only when necessary
                            */

    width: 50%;
    float:left;    
    margin: 1%;
    font-size: 20px;
    
}

.bildeOppe{                /*dette er bildet oppe til høgre*/
    padding:2px;
    margin-top:2%;
    margin-left:3%;
    float:left;
    background-color: red;
}

img {
    border: 2px solid black; /*alle bilder får en svart ramme rundt
                                Dette er shorthand, og gir border sin tykkelse, type og farge samtidig*/
 }



table, th, td, tr{
    border: 2px solid black;
    border-collapse: collapse; /*tabellens linjer slås sammen*/
    padding: 2%;

}
table{
    margin: 2%;
    width: 98%;
    background-color: #dddddd;
    font-size:15px;
}


.boks{                  /*dette er boksen med værinfo og bilder - til venstre nede*/
    background-color: #dddddd;
    border: 4px solid black ;
    border-radius: 2%;  /*gir avrunda hjørner*/
}

.flytVenstre{           /*float:left gjør at elementet som følger legger seg til høgre for det elementet som er 'floata'*/
    overflow: auto;
    float: left;
    width: 35%;
    padding: 4%;
    
    margin: 1%;         /*setter samme margin rundt hele boksen*/
    margin-top:3%;      /*spesifiserer at boksen skal ha en annen margin over seg*/
        
}





